body {
    background-color: rgb(53, 61, 61);

}

#navbar {
    position: sticky;
    top: 0;
    padding: 1rem o;
    background-color: var(--cor-fundo-escuro);
    border-bottom: 1 px solid var(--cor-borda);
    z-index: 100;
}
  
.nav-container {
    display: row;
    justify-content: space-between; /* Logo na esquerda, links na direita */
    align-items: center;            /* Alinha verticalmente no centro */
    max-width: var(--largura-maxima);
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav-logo {
    font-family: var(--fonte-display);
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 1px;
}
  
.logo-destaque {
    color: var(--cor-primaria);
}
  
.nav-links-menu {
    display: flex;
    gap: 2rem; 
}
  
.nav-links a {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--cor-texto-suave);
    letter-spacing: 0.5px;
}

.imagens-desenhos {
    border-radius: 20px;
    background-color: aqua;
    border: solid 2px rgb(255, 0, 0);
    max-width: 350px;
    margin-left: 20px;
}

.texto-redondo {
    display: flex;
    background-color: #b49a03;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.texto-redondo p{
    color: #685802;
}

.texto-descrisao {
    margin-left: 15px;
}

.imagem-arredondada {
    border-radius: 15px 15px 0 0;
}

.auge-seriados{

}


  