body {
    background-color: aqua;

}

.nav-container {
    display: flex;
    justify-content: space-between; /* Logo na esquerda, links na direita */
    align-items: center;            /* Alinha verticalmente no centro */
    max-width: var(--largura-maxima);
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  